### Decode ###
status=decode
raw_dir=/home/antonio/Documents/Projects/covid-19/clinic/Corpus-v10/corpus/some-txt/
nbest=1
decode_dir=/home/antonio/Documents/Projects/covid-19/clinic/Corpus-v10/corpus/some-txt/deploy_spacy_bioes.out
brat_out_dir=/home/antonio/Documents/Projects/covid-19/clinic/Corpus-v10/corpus/some-txt/out/
dset_dir=model/no-cuda.dset
load_model_dir=model/no-cuda.6.model
tokenizer=spacy
spacylanguage=es_core_news_sm
tagging_format=bioes
